{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control">
            </div>
            <div class="col-md-2">
                <select name="variant" id="" class="form-control" onchange="variant_group(this)">
                    <option selected disabled>--Select A Variant--</option>
                    <option disabled>--Color--</option>
                    <option value="Black">Black</option>
                    <option value="White">White</option>
                    <option value="Red">Red</option>
                    <option value="Green">Green</option>
                    <option value="Orange">Orange</option>
                    <option disabled>--Size--</option>
                    <option value="Xl">XL</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="sm">SM</option>
                    <option disabled>--Style--</option>
                    <option value="FULL">Full</option>
                    <option value="Half">Half</option>
                    <option value="V-nick">V-neck</option>
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From"
                           class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for dt in data %}
                <tr>
                    <td>{{ dt.id }}</td>
                    <td>{{ dt.title }} <br> Created at : {{ dt.created_at }}</td>
                    <td>{{ dt.description }}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant">
                            {% for variants in dt.productVariantPrice %}
                                    <dt class="col-sm-3 pb-0">
                                        {{ variants.product_variant_one.variant_title }}/
                                        {{ variants.product_variant_two.variant_title }}/
                                        {{ variants.product_variant_three.variant_title }}/
                                    </dt>
                                    <dd class="col-sm-9">
                                        <dl class="row mb-0">
                                            <dd class="col-sm-4 pb-0">Price : {{ variants.price }}</dd>
                                            <dd class="col-sm-8 pb-0">InStock : {{ variants.stock }}.</dd>
                                        </dl>
                                    </dd>
                            {% endfor %}
                        </dl>
<!--                        <button onclick="$('#variant').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more-->
                        <button onclick="show_more(this)" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ data.start_index }} to {{ data.end_index }} out of {{ data.paginator.count }}</p>
            </div>
            <div class="col-md-2">
                <div class="pagination">
                    <span class="step-links">
                        {% if data.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ data.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ data.number }} of {{ data.paginator.num_pages }}.
                        </span>

                        {% if data.has_next %}
                            <a href="?page={{ data.next_page_number }}">next</a>
                            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function variant_group(variant){
        // window.location = "?variant=" + variant.value

        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('variant', variant.value);
        window.location.search = urlParams;
    }
    function show_more(element){
        console.log(element)
        x = $(element).parent().children('dl').toggleClass('h-auto')
    }
    document.addEventListener('readystatechange', event => {

        // When HTML/DOM elements are ready:
        if (event.target.readyState === "interactive") {
            const urlParams = new URLSearchParams(window.location.search);
            document.querySelector('[name="title"]').value = urlParams.get('title');
            document.querySelector('[name="price_from"]').value = urlParams.get('price_from');
            document.querySelector('[name="price_to"]').value = urlParams.get('price_to');
            document.querySelector('[name="date"]').value = urlParams.get('date');

            if (urlParams.get('variant')) {
                document.querySelector('[name="variant"]').value = urlParams.get('variant');
            }
        }
    });
</script>
{% endblock %}